@{
    ViewData["Title"] = "Log in";
}

<div>
    @{
        string errorMsg = (string) TempData["errorMsg"];
        Console.WriteLine(errorMsg);

        if(errorMsg != null) {
            <p class="bg-danger p-4 text-light">@errorMsg</p>
        }
    }
</div>

<form action="/user/log-in" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <div>
        <input type="submit" value="Login">
    </div>
</form>

<a href="/user/sign-up">Create an account now</a>