@{
    ViewData["Title"] = "Home Page";
}

@{
    string username = (string) TempData["username"];
    @* Evaluate if there is a session *@
    if(username != null) {
        <div class="d-flex justify-content-evenly mb-3">
            <p class="container col-8">Welcome back <b>@username</b></p>
            <span class="col-3" id="btn-log-out-container"></span>
        </div>
    } else {
        <a href="/user/log-in" class="btn btn-primary mb-3 rounded-pill">Log in</a>
    }
}

<div>

    @{
        if(username != null) {
            <a href="/template/create" class="btn btn-success">Create a Template</a>
        }
    }

    <div class="d-flex content-container mt-5">
        @* Latest / Your templates *@
        <div class="border w-100">
            <div class="d-flex justify-content-evenly my-3">
                <h2 id="templates-header">Latest Templates</h2>
                @* User's templates *@
                @{
                    if(username != null) {
                        string? userId = (string) TempData["userId"];
                        <input type="hidden" value="@userId" id="userId">
                        <input type="hidden" value="@username" id="username">
                        <button type="button" class="btn btn-primary rounder-3" id="btn-toggle-templates">Your Templates</button>
                    }
                }
            </div>

            @* Latest / Your templates container *@
            <div>
                <div class="d-flex gap-3 flex-wrap justify-content-evenly w-100 p-3" id="latest-templates-container"></div>
            </div>
        </div>
    </div>

    <script src="~/js/index/index.js" type="module"></script>
</div>
