@{
    ViewData["Title"] = "Home Page";
}

@{
    string username = (string) TempData["username"];
    if(username != null) {
        <div class="d-flex justify-content-evenly mb-3">
            <p class="container col-8">Welcome back <b>@username</b></p>
            <a href="/user/log-out" class="btn btn-primary col-3">Log out</a>
        </div>
        
    } else {
        <a href="/user/log-in" class="btn btn-primary mb-3 rounded-pill">Log in</a>
    }
}

<div>
    <div class="col-12 mb-3" id="searcher-bar-contianer">
        <input type="search" class="w-100 rounded-pill border border-primary p-2 border-1">
    </div>

    @{
        if(username != null) {
            <a href="/template/create" class="btn btn-success">Create a Template</a>
        }
    }

    <div class="d-flex content-container mt-5">
        @* Tags container *@
        <div class="border w-25">
            <h2 class="my-3">Tags</h2>
            <div class="p-3">
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
            </div>
        </div>
        @* Latest / Your templates *@
        <div class="border w-50">
            <div class="d-flex justify-content-evenly my-3">
                <h2 id="templates-header">Latest Templates</h2>
                @{
                    if(username != null) {
                        string? userId = (string) TempData["userId"];
                        <input type="hidden" value="@userId" id="userId">
                        <input type="hidden" value="@username" id="username">
                        <button type="button" class="btn btn-primary rounder-3" id="btn-toggle-templates">Your Templates</button>
                    }
                }
            </div>

            @* Latest / Your templates container *@
            <div class="d-flex flex-wrap justify-content-evenly w-100" id="latest-templates-container"></div>
        </div>
        @* Top 5 famous templates *@
        <div class="border w-25">
            <h2 class="my-3">Most Famous Templates</h2>

            <div class="d-flex flex-column">
                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src=""  alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>
            </div>
        </div>
    </div>

    <script src="~/js/index/index.js"></script>
</div>
