@{
    ViewData["Title"] = "Home Page";
}

@{
    string username = (string) TempData["username"];
    if(username != null) {
        <p class="container">Welcome back @username</p>
    }
}

<div>
    <div class="col-12 mb-3" id="searcher-bar-contianer">
        <input type="search" class="w-100 rounded-pill border border-primary p-2 border-1">
    </div>

    <a href="/template/create" class="btn btn-success">Create a Template</a>

    <div class="d-flex content-container mt-5">
        @* Tags container *@
        <div class="border w-25">
            <h2 class="my-3">Tags</h2>
            <div class="p-3">
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
                <span class="badge bg-primary">Education</span>
            </div>
        </div>
        @* Latest / Your templates *@
        <div class="border w-50">
            <div class="d-flex justify-content-evenly my-3">
                <h2>Latest tempaltes</h2>
                <button type="button" class="btn btn-primary rounder-3">Your Templates</button>
            </div>

            @* Latest / Your templates container *@
            <div class="d-flex flex-wrap justify-content-evenly w-100">
                <figure class="text-center">
                    <img src=""  alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src=""  alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>
            </div>
        </div>
        @* Top 5 famous templates *@
        <div class="border w-25">
            <h2 class="my-3">Most Famous Templates</h2>

            <div class="d-flex flex-column">
                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src=""  alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>

                <figure class="text-center">
                    <img src="" alt="" width="150" height="150">
                    <figcaption>Template name By <b>Author</b></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
